body {
  font-size: 15pt;
  background-image:url('/images2/Anime Background.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  
}
#A{
background-image:url("/images2/InShot_20240102_173009324.gif");
background-repeat:no-repeat ;
background-size:cover ;
color: white;
font-family:'Times New Roman', Times, serif;
text-align: center;
border: 1px double black;
border-radius:5px;
}
#names{
 font-family:'Times New Roman', Times, serif;
 color: white;
 font-style: italic;
 font-size: smaller;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:#6C96FF;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color:white;
}
/* CSS code FOR CLASS - B */
.B{
border: 2px solid white;
background-color:#6CB3FFA8;
width: 100%;
height: 100%;
margin-top:3%;
}
#a{
margin-top: 2%;
}
#C{
background-color:#6C96FF;
padding: 10px;
}
#go {
background-color: #6C96FF;
}
/*Media Query */
@media (max-width : 924px) {
#a {
  width: 100%;
  margin-top: 10%;
}
}